<div id="news">
    <a class="current-link" href="{{link}}">
        <h3 class="current-title">{{title}}</h3>
        <img src="{{image}}" class="current-Image">
    </a>
    <p class="current-date">{{date}}</p>
    <a class="btn btn-primary btn-lg save-article-btn" data-id="{{_id}}" role="button">Save Article</a>
</div>